In [1]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

In [54]:
dataset_id=46 
dataset=fetch_ucirepo(id=dataset_id)

In [55]:
dataset.data.keys()

dict_keys(['ids', 'features', 'targets', 'original', 'headers'])

In [56]:
X=pd.DataFrame(dataset.data.features)
X.head()

,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
0,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,31,1,NaN,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1

In [57]:
Y=pd.DataFrame(dataset.data.targets)
Y.head()

   Class
0      2
1      2
2      2
3      2
4      2

# Pre Processing

In [58]:
Y.isnull().sum()
# no null values in output
# print(Y.size)->155

Class    0
dtype: int64

In [59]:
# count for null values in columns
na_cols=[]
cols=X.columns

for col in cols:
    current_col=X[col]
    na_count=current_col.isna().sum()
    if na_count>0:
        na_cols.append(col)


print(f"columns with null values:\n{na_cols}")

# max null values in a col->67

columns with null values:
['Steroid', 'Fatigue', 'Malaise', 'Anorexia', 'Liver Big', 'Liver Firm', 'Spleen Palpable', 'Spiders', 'Ascites', 'Varices', 'Bilirubin', 'Alk Phosphate', 'Sgot', 'Albumin', 'Protime']

In [60]:
# null values before replacing with median
X.isna().any()

Age                False
Sex                False
Steroid             True
Antivirals         False
Fatigue             True
Malaise             True
Anorexia            True
Liver Big           True
Liver Firm          True
Spleen Palpable     True
Spiders             True
Ascites             True
Varices             True
Bilirubin           True
Alk Phosphate       True
Sgot                True
Albumin             True
Protime             True
Histology          False
dtype: bool

In [61]:
# dropping ~70 rows in a 155 rows dataset is losing so much data we will replace the data with median
for na_col in na_cols:
    na_mask=X[na_col].isna()==True
    X.loc[na_mask,na_col]=X[na_col].median()

In [65]:
# after replace
X.isna().any()

Age                False
Sex                False
Steroid            False
Antivirals         False
Fatigue            False
Malaise            False
Anorexia           False
Liver Big          False
Liver Firm         False
Spleen Palpable    False
Spiders            False
Ascites            False
Varices            False
Bilirubin          False
Alk Phosphate      False
Sgot               False
Albumin            False
Protime            False
Histology          False
dtype: bool

In [66]:
X.head()

,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
0,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,61.0,1
1,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,61.0,1
2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,61.0,1
3,31,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,200.0,4.0,61.0,1

In [ ]:
def remove_outliers(X:pd.DataFrame):